/* Google Material Symbols */

@font-face {
	font-family: 'Material Symbols Rounded';
	font-style: normal;
	font-weight: 100 700;
	font-display: block;
	src: url('../fonts/material-symbols-rounded.woff2') format('woff2');
}
.material-symbols-rounded {
	font-family: 'Material Symbols Rounded';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga';
	vertical-align: text-bottom;
	font-variation-settings: 'FILL' 0, 'GRAD' 0, 'opsz' 48;
}
/* Bootstrap Icons */

@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

@font-face {
	font-family: bootstrapIcon;
	src: url(../fonts/bootstrap-icons.woff);
}

/* Montserrat */

@font-face {
	font-family: 'Montserrat Regular';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
	font-family: 'Montserrat Italic';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/Montserrat-Italic.ttf');
}
@font-face {
	font-family: 'Montserrat Regular';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
	font-family: 'Montserrat Italic';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/Montserrat-Italic.ttf');
}
@font-face {
	font-family: 'Montserrat SemiBold';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/Montserrat-SemiBold.ttf');
}
@font-face {
	font-family: 'Montserrat SemiBoldItalic';
	font-style: italic;
	font-weight: 600;
	src: url('../fonts/NotoSans-SemiBoldItalic.ttf');
}
@font-face {
	font-family: 'Montserrat ExtraBold';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
	font-family: 'Montserrat ExtraBoldItalic';
	font-style: italic;
	font-weight: 800;
	src: url('../fonts/Montserrat-ExtraBoldItalic.ttf');
}

/* Open Sans */

@font-face {
	font-family: 'Open Sans Light';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
	font-family: 'Open Sans LightItalic';
	font-style: italic;
	font-weight: 300;
	src: url('../fonts/OpenSans-LightItalic.ttf');
}
@font-face {
	font-family: 'Open Sans Regular';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
	font-family: 'Open Sans Italic';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/OpenSans-Italic.ttf');
}
@font-face {
	font-family: 'Open Sans SemiBold';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/OpenSans-SemiBold.ttf');
}
@font-face {
	font-family: 'Open Sans SemiBoldItalic';
	font-style: italic;
	font-weight: 600;
	src: url('../fonts/OpenSans-SemiBoldItalic.ttf');
}
@font-face {
	font-family: 'Open Sans Bold';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
	font-family: 'Open Sans BoldItalic';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/OpenSans-BoldItalic.ttf');
}
